{# Service Type: Internet Access - Policy Template for a Huawei NE L2VPN IRB towards a generic Switch/Router MPLS device. #}
 pw-template {{ customer_name }}-{{ service_instance_id }}
 peer-address 10.150.255.106
 control-word
#
 mpls ldp remote-peer SW_EXEMPLO
 remote-ip {{ access_address }}
#
interface Virtual-Ethernet0/1/1
 ve-group 1 l2-terminate

# Criar uma interface L3 para fechar os Enlaces

interface Virtual-Ethernet0/1/2
 ve-group 1 l3-access


# depois

# Criar uma subinterface L2 para fechar os Transportes

interface Virtual-Ethernet0/1/1.10
 vlan-type dot1q 10
 mpls l2vc pw-templete SW_EXEMPLO 10
 mpls l2vc pw-template SW-ENG-PEDREIRA 400010 secondary   # CASO TENHA DOIS CIRCUITO PARA ENTREGA REDUNDANTE


# Criar uma subinterface L3 para colocar os ips de enlaces

interface Virtual-Ethernet0/1/2.10
 vlan-type dot1q 10
 ip address ip mask

#


l2vpn
 bridge group INTERNET-CORPORATE-CUSTOMERS
  bridge-domain {{ customer_name }}-{{ service_instance_id }}
   mtu 9000
   storm-control unknown-unicast pps 1000
   storm-control multicast pps 500
   storm-control broadcast pps 500
   neighbor {{ access_address }} pw-id {{ pw_id }}
   !
   routed interface BVI{{ pw_id }}
   !
  !
!
{%- if irb_ipaddr %}
interface BVI{{ pw_id }}
 description {{ customer_name }}-{{ service_instance_id }}
 ipv4 address {{ irb_ipaddr }}
 ipv4 verify unicast source reachable-via rx
 flow ipv4 monitor TRAFipMonitorIPv4 sampler TRAFipSample ingress
{%- endif %}
{%- if irb_ipv6addr %}
 ipv6 address {{ irb_ipv6addr }}
 ipv6 verify unicast source reachable-via rx
 flow ipv6 monitor TRAFipMonitorIPv6 sampler TRAFipSample ingress
{%- endif %}
!
{%- if irb_ipaddr and ipv4_lan %}
router static
 address-family ipv4 unicast
  {{ ipv4_lan }} {{ipv4_nexthop }} tag 1000 description {{ customer_name }}-{{ service_instance_id }}
{%- endif %}
!
{%- if irb_ipv6addr and ipv6_lan %}
router static
 address-family ipv6 unicast
  {{ ipv6_lan }} {{ipv6_nexthop }} tag 1000 description {{ customer_name }}-{{ service_instance_id }}
{%- endif %}
