{# Service Type: Internet Access - Policy Template for a Cisco IOS XR L2VPN Bridge-Domain IRB towards a Cisco ASR 920 device #}
l2vpn
 bridge group INTERNET-CORPORATE-CUSTOMERS
  no bridge-domain {{ customer_name }}-{{ service_instance_id }}
no interface BVI{{ pw_id }}
router static
 address-family ipv4 unicast
 no {{ ipv4_lan }} {{ipv4_nexthop }} tag 1000 description {{ customer_name }}-{{ service_instance_id }}
router static
 address-family ipv6 unicast
  no {{ ipv6_lan }} {{ipv6_nexthop }} tag 1000 description {{ customer_name }}-{{ service_instance_id }}