{# Policy Template for a Cisco ASR 920 L2VPN Xconnect towards a Cisco IOS XR device #}
bridge-domain {{ service_instance_id }}
 no member {{ interface_name }} service-instance {{ service_instance_id }}
 no member vfi {{ customer_name }}-{{ service_instance_id }}
no bridge-domain {{ service_instance_id }}
no l2vpn vfi context {{ customer_name }}-{{ service_instance_id }}
l2vpn xconnect context {{ customer_name }}-{{ service_instance_id }}
 no member {{ pe_loopback }} {{ pw_id }} encapsulation mpls
 no member {{ interface_name }} service-instance {{ service_instance_id }}
no l2vpn xconnect context {{ customer_name }}-{{ service_instance_id }}
interface {{ interface_name }}
 no service instance {{ service_instance_id }} ethernet

interface {{ interface_name }}
 service instance {{ service_instance_id }} ethernet
  description {{ customer_name }}-{{ service_instance_id }}
{%- if vlan_id and vlan_id_outer %}
  encapsulation dot1q {{ vlan_id_outer }} second-dot1q {{ vlan_id }}
{%- endif %}
{%- if vlan_id and not vlan_id_outer%}
  encapsulation dot1q {{ vlan_id }}
{%- endif %}
{%- if device_type != 'juniper_junos' and vlan_id and vlan_id_outer %}
  rewrite ingress tag pop 2 symmetric
{%- endif %}
{%- if device_type != 'juniper_junos' and vlan_id and not vlan_id_outer %}
  rewrite ingress tag pop 1 symmetric
{%- endif %}
{%- if device_type = 'juniper_junos' and vlan_id and vlan_id_outer %}
  rewrite ingress tag pop 1 symmetric
{%- endif %}
  service-policy input limita_{{ qos_input }}Mb
  service-policy output limita_{{ qos_output }}Mb

l2vpn xconnect context {{ customer_name }}-{{ service_instance_id }}
 description {{ customer_name }}-{{ service_instance_id }}
 member {{ pe_loopback }} {{ pw_id }} encapsulation mpls
 member {{ interface_name }} service-instance {{ service_instance_id }}