{# Service Type: Internet Access - Policy Template for a Cisco IOS XR L2VPN Bridge-Domain IRB towards a Cisco ASR 920 device #}
l2vpn
 bridge group INTERNET-CORPORATE-CUSTOMERS
  no bridge-domain {{ customer_name }}-{{ service_instance_id }}
  bridge-domain {{ customer_name }}-{{ service_instance_id }}
   mtu 1500
   storm-control unknown-unicast pps 1000
   storm-control multicast pps 500
   storm-control broadcast pps 500
   neighbor {{ access_loopback }} pw-id {{ pw_id }}
   !
   routed interface BVI{{ pw_id }}
   !
  !
!
{%- if irb_ipaddr %}
no interface BVI{{ pw_id }}
interface BVI{{ pw_id }}
 description {{ customer_name }}-{{ service_instance_id }}
 ipv4 address {{ irb_ipaddr }}
 ipv4 verify unicast source reachable-via rx
 flow ipv4 monitor TRAFipMonitorIPv4 sampler TRAFipSample ingress
{%- endif %}
{%- if irb_ipv6addr %}
 ipv6 address {{ irb_ipv6addr }}
 ipv6 verify unicast source reachable-via rx
 flow ipv6 monitor TRAFipMonitorIPv6 sampler TRAFipSample ingress
{%- endif %}
!
{%- if irb_ipaddr and ipv4_lan %}
router static
 address-family ipv4 unicast
  no {{ ipv4_lan }} {{ipv4_nexthop }} tag 1000 description {{ customer_name }}-{{ service_instance_id }}
  {{ ipv4_lan }} {{ipv4_nexthop }} tag 1000 description {{ customer_name }}-{{ service_instance_id }}
{%- endif %}
!
{%- if irb_ipv6addr and ipv6_lan %}
router static
 address-family ipv6 unicast
  no {{ ipv6_lan }} {{ipv6_nexthop }} tag 1000 description {{ customer_name }}-{{ service_instance_id }}
  {{ ipv6_lan }} {{ipv6_nexthop }} tag 1000 description {{ customer_name }}-{{ service_instance_id }}
{%- endif %}
