{# Policy Template for a Juniper MX L2VPN Routing Instance IRB towards a Cisco ASR 920 device #}
delete routing-instances {{ customer_name }}-{{ service_instance_id }}
set routing-instances {{ customer_name }}-{{ service_instance_id }} instance-type vpls
{%- if vlan_id and vlan_id_outer %}
set routing-instances {{ customer_name }}-{{ service_instance_id }} vlan-tags inner {{ vlan_id }}
set routing-instances {{ customer_name }}-{{ service_instance_id }} vlan-tags outer {{ vlan_id_outer }}
{%- endif %}
{%- if vlan_id and not vlan_id_outer %}
set routing-instances {{ customer_name }}-{{ service_instance_id }} vlan-id {{ vlan_id }}
{%- endif %}
set routing-instances {{ customer_name }}-{{ service_instance_id }} routing-interface irb.{{ pw_id }}
set routing-instances {{ customer_name }}-{{ service_instance_id }} protocols vpls encapsulation-type ethernet
set routing-instances {{ customer_name }}-{{ service_instance_id }} protocols vpls control-word
set routing-instances {{ customer_name }}-{{ service_instance_id }} protocols vpls no-tunnel-services
set routing-instances {{ customer_name }}-{{ service_instance_id }} protocols vpls vpls-id {{ pw_id }}
set routing-instances {{ customer_name }}-{{ service_instance_id }} protocols vpls mtu 1500
set routing-instances {{ customer_name }}-{{ service_instance_id }} protocols vpls neighbor {{ access_loopback }}
set routing-instances {{ customer_name }}-{{ service_instance_id }} protocols vpls connectivity-type irb
{%- if irb_ipaddr %}
delete interfaces irb unit {{ pw_id }}
set interfaces irb unit {{ pw_id }} description {{ customer_name }}-{{ service_instance_id }}
set interfaces irb unit {{ pw_id }} family inet address {{ irb_ipaddr }}
set interfaces irb unit {{ pw_id }} family inet rpf-check
set interfaces irb unit {{ pw_id }} family inet sampling input
{%- endif %}
{%- if irb_ipv6addr %}
set interfaces irb unit {{ pw_id }} family inet6 address {{ irb_ipv6addr }}
set interfaces irb unit {{ pw_id }} family inet6 rpf-check
set interfaces irb unit {{ pw_id }} family inet6 sampling input
{%- endif %}
{%- if ipv4_lan %}
delete routing-options static route {{ ipv4_lan }} next-hop {{ ipv4_nexthop }}
set routing-options static route {{ ipv4_lan }} next-hop {{ ipv4_nexthop }}
set routing-options static route {{ ipv4_lan }} community 65000:10000
set routing-options static route {{ ipv4_lan }} community no-export
{%- endif %}
{%- if irb_ipv6addr and ipv6_lan %}
delete routing-options rib inet6.0 static route {{ ipv6_lan }} next-hop {{ ipv6_nexthop }}
set routing-options rib inet6.0 static route {{ ipv6_lan }} next-hop {{ ipv6_nexthop }}
set routing-options rib inet6.0 static route {{ ipv6_lan }} community 65000:11000
set routing-options rib inet6.0 static route {{ ipv6_lan }} community no-export
{%- endif %}